.input__text_type_name {
  width: 358px;
  border: none;
  border-bottom: 1px solid #000000;
  margin: 54px 0 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .input__text_type_name {
    max-width: 238px;
    align-self: center;
    margin: 76px 0 0 0;
  }
}
