.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px white solid;
  display: inline-block;
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  transition: linear 0.2s;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
