.template__close {
  background-image: url(../../../images/exiticon.svg);
  background-size: cover;
  height: 48px;
  width: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  position: absolute;
  top: -7%;
  right: -6%;
  max-width: 48px;
}

.template__close:hover {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .template__close {
    top: -10%;
    right: -8%;
  }
}

@media screen and (max-width: 767px) {
  .template__close {
    top: -11%;
    right: -10%;
    height: 30px;
    width: 30px;
  }
}
