.form__text-input {
  padding: 0 0 13px;
  background-color: transparent;
  border: none;
  margin: 0;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}

.form__text-input:valid {
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}

.form__text-input::placeholder {
  margin-top: 10px;
}

.form__text-input:last-of-type {
  margin-top: 30px;
}

.form__text-input:focus {
  border-bottom: 1px solid rgba(48, 48, 48, 0.849);
}
