.profile__button {
  width: 150px;
  height: 50px;
  align-self: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  transition: linear 0.2s;
  background: none;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__button {
    width: 88.125%;
    margin: 36px 0 0 0;
  }
}
