.popout__exit {
  width: 40px;
  height: 40px;
  position: fixed;
  top: -10%;
  right: -8%;
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popout__exit {
    right: 0;
    top: -15%;
  }
}
