.form__save-btn {
  width: 358px;
  height: 50px;
  border-bottom: none;
  align-self: center;
  margin: 48px 0 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  cursor: pointer;
}

.form__save-btn:hover {
  opacity: 0.8;
}
